* {
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
}
body, html {
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2em;
  color: rgb(41, 41, 41);
}
span link.{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
}
.img{ /* 一般图片格式 */
  min-height: 250px;
  min-width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.img1 {
  background-image: url('https://img1.imgtp.com/2023/07/15/Nogs51HG.jpg');
  min-height: 1000px;
  background-size: cover;
  color: #fff;
}
.img2 {
  background-image: url('https://img1.imgtp.com/2023/07/15/WqgSJk89.jpg');
  min-height: 1000px;
  background-size: cover;
}
.img3 {
  background-image: url('https://img1.imgtp.com/2023/07/15/ydg3Ksno.jpg');
  min-height: 1000px;
  background-size: cover;
}
.img1, .img2, .img3 {
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.heading {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-family: Abel, serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 15px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.sectiona{
  padding: 50px 80px;
  color: rgb(245, 245, 245);
}
.section1 {
  background-color: rgb(41, 41, 41);
  color: rgb(211, 211, 211);
}
.section2 {
  background-color: #282828;
  opacity: 0.9;
  color: rgb(245, 245, 245);
}
.section3 {
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
}
h1 {
  font-family: Abel, serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
  padding-bottom: 20px;
}
h2 {
  font-family: Abel, serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  padding-bottom: 20px;
}
p {
  font-family: Abel, serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-left: 125px;
  margin-right: 125px;
}
#footer {  /* 下方链接 */
  position: absolute;
  left: 50%;
  bottom: 0;
  text-align: center;
}
@media only screen and (min-width: 300px) {
  span {
    line-height: 1.6em;
  }
}
@media only screen and (max-width: 300px) {
  .img1, .img2, .img3 {
    background-attachment: scroll;
  }
}

.ani1 {
animation: fadeInAnimation ease 2s;
animation-iteration-count: 1; /*设置动画播放次数*/
animation-fill-mode: forwards; /*设置样式以在动画不播放时应用元素。forward是设置动画结束后，使用元素的结束属性值*/
}

@keyframes fadeInAnimation {
0% {
opacity: 0; /*设置不透明度*/
}
25% {
opacity: 0.24;
}
50% {
opacity: 0.6;
}
75% {
opacity: 0.74;
}
100% {
opacity: 1;
}
}